---
import ContentBody from "../components/ContentBody.astro";
import HoverableTitle from "../components/HoverableTitle.astro";
import Acordion from "../components/Acordion.astro";

import Layout from "../layouts/Layout.astro";

import {
    discordLink,
    adaByronLink,
    cccLink,
    swercLink,
    aerLink,
    kattisLink,
    csesLink,
    codeforcesLink,
    sociosLink,
} from "../data/links";
---

<Layout>
    <ContentBody>
        <HoverableTitle>Preguntas frecuentes</HoverableTitle>
        <div class="flex flex-col gap-2.5 w-full p-5">
            <Acordion title="¿Hay actividades para todos los niveles?">
                <strong>¡Por supuesto!</strong> Intentamos hacer actividades para
                todos los niveles, desde los más principiantes hasta los mejores
                candidatos para el SWERC.
            </Acordion>
            <Acordion title="¿Cuándo se hacen actividades?">
                <p>
                    Intentamos hacer actividades <strong>cada semana</strong>,
                    generalmente los <strong>viernes por la tarde</strong>. Para
                    más información visita nuestro <a href={discordLink}
                        >Discord</a
                    >
                    donde anunciamos todas las actividades.
                </p>
                <p>
                    Si te vienen mal las horas no dudes en comentárnoslo. Si
                    vemos muchas personas no pueden venir a las actividades por
                    problemas de horario, haremos todo lo posible por moverlas
                    de hora.
                </p>
            </Acordion>
            <Acordion title="¿Qué temas se tratan en las sesiones?">
                <p>
                    <strong>Tratamos un poco de todos los temas</strong>. En los
                    concursos, actividades temáticas y en los entrenamientos,
                    hacemos problemas que seleccionamos para la ocasión y
                    tratamos conceptos concretos, <strong
                        >desde algoritmos básicos</strong
                    > como búsqueda binaria o ordenación <strong
                        >hasta estructuras de datos y técnicas avanzadas</strong
                    > como Heavy-Light Decomposition o programación dinámica con
                    máscara de bits.
                </p>

                <p>
                    Cuando hacemos actividades lo hacemos por el simple hecho de
                    pasarlo bien y aprender cosas nuevas. <strong
                        >Si quieres ver un tema en particular o proponer alguna
                        actividad, no dudes en proponérnoslo</strong
                    >, seguro que nos encantará hacer una actividad entorno a
                    ello.
                </p>
            </Acordion>
            <Acordion title="¿Dónde puedo prácticar con problemas?">
                <p>
                    Existen muchos jueces en líneas con grandes repositorios de
                    problemas. Si estás empezando te recomendamos
                    <a href={aerLink}>¡Acepta el reto!</a>. Es un juez en línea
                    hecho por profesores de la UCM y tiene problemas perfectos
                    si estás empezando en el mundo de la programación
                    competitiva.
                </p>

                <p>
                    También puedes usar <a href={kattisLink}>Kattis</a>, los
                    problemas están ordenados por dificultad y hay desde
                    problemas muy fáciles hasta problemas muy díficiles.
                </p>

                <p>
                    Si quieres aprender nuevas técnicas también te recomendamos <a
                        href={csesLink}>CSES</a
                    >, los problemas están ordenados por temática y sirven para
                    aprender nuevas técnicas o darle una vuelta de tuerca a los
                    algoritmos que ya conoces.
                </p>
                <p>
                    Finalmente si tienes ganas de hacer concursos métete en <a
                        href={codeforcesLink}>Codeforces</a
                    >, cada semana hacen concursos virtuales. Los problemas
                    están ordenados por dificultad y temática, aunque muchos de
                    ellos requieren más de un instinto matemático que de un gran
                    conocimiento de algoritmia.
                </p>
            </Acordion>
            <Acordion
                title="¿Tengo que hacer algo para apuntarme a las actividades?"
            >
                <p>
                    En general <strong>no necesitas hacer nada</strong>. Solo
                    tienes que <strong>estar atento</strong> a las actividades y
                    <strong>venir a las que quieras</strong>, estaremos aquí
                    para recibirte.
                </p>
                <p>
                    Hay algunas actividades que no organizamos directamente
                    nosotros, como el <a href={adaByronLink}> Ada Byron </a>, <a
                        href={cccLink}>Cloudflight Coding Contest</a
                    > o el clasificatorio del <a href={swercLink}>SWERC</a>,
                    para las que será necesario apuntarse con anterioridad. Pero
                    no te preocupes las anunciaremos con suficiente antelación.
                </p>
            </Acordion>
            <Acordion title="¿Qué lenguajes de programación tengo que saber?">
                <p>
                    El más recomendable es <strong>C++</strong>, aunque no te
                    preocupes si no lo sabes, se da en primero de carrera,
                    aunque en casos muy concretos conviene saber algo muy básico
                    de <strong>Python</strong> o <strong>Java</strong>.
                </p>
            </Acordion>
            <Acordion
                title="¿Puedo empezar en programación competitiva si no sé programar?"
            >
                <p>
                    <strong>Sí</strong>. Generalmente el primer mes intentamos
                    hacer actividades más introductorias para la gente que aún
                    está aprendiendo a programar en la carrera.
                </p>
            </Acordion>
            <Acordion title="¿Qué es la programación competitiva?">
                <p>
                    La programación competitiva es un deporte mental donde se
                    nos plantean problemas lógico-matemáticos que deberemos de
                    resolver por medio de la creación de un programa que lea los
                    datos de entrada del problema y de una solución correcta al
                    mismo.
                </p>
                <p>
                    Un ejemplo de problema sería dada una red de ciudades
                    conectadas por carreteras de distinta longitud. ¿Cúal es la
                    manera más rápida de llegar de la ciudad A a la ciudad B? La
                    gracia de estos problemas es que no son como los típicos
                    problemas de matemáticas donde deberemos de resolver el
                    problema para unos datos en concreto, nuestro programa
                    deberá de poder resolver el problema para cualquier
                    configuración de ciudades y carreteras posibles que se nos
                    plantee. Para ello se cuenta con un juez virtual que coge tu
                    programa y lo pone a prueba contra muchísimos casos de
                    prueba.
                </p>
                <p>
                    La gracia de la programación competitiva es que no solo
                    tratamos de resolver problemas sueltos si no que lo que
                    queremos es resolver varios en un periódo de tiempo
                    limitado. El formato más habitual en los concursos es contar
                    con varios problemas distintos, no necesariamente ordenados
                    por dificultad y tener un par de horas para soluciones. El
                    ganador del concurso es el que más problemas consiga
                    resolver y se desempata por tiempo.
                </p>
            </Acordion>
            <Acordion title="¿Qué es un juez en línea?">
                <p>
                    Un juez en línea es un programa que se encarga de verificar
                    que tu programa es capaz de resolver el problema indicado.
                    Para ello ejecuta tu programa contra muchísimos casos de
                    prueba ocultos y evalua si el resultado ha sido correcto.
                </p>
                <p>
                    Estos jueces no solo miran que la solución sea correcta, si
                    no que también tiene en cuenta restricciones de recursos,
                    por ejemplo si tu solución es muy lenta o consume demasiada
                    memoria.
                </p>
                <p>
                    Existen muchos jueces en línea para practicar por ejemplo: <a
                        href={aerLink}>Acepta El Reto</a
                    >, <a href={kattisLink}>Kattis</a>,
                    <a href={codeforcesLink}>Codeforces</a>, <a href={csesLink}
                        >CSES</a
                    >...
                </p>
            </Acordion>
            <Acordion title="¿Cómo puedo unirme a la asociación?">
                Simplemente metete en nuestro <a href={discordLink}>Discord</a>.
                Aunque si eres alumno de la Facultad de Informática también te
                agredeceríamos que rellenases el <a href={sociosLink}
                    >formulario de socios</a
                >. No tiene ningún compromiso y nos ayudaría enormemente como
                asociación de la FDI.
            </Acordion>
            <Acordion title="¿Qué es el formulario de socios?">
                <p>
                    Es un formulario que pueden rellenar los alumnos de la
                    Facultad de Informática de la Universidad Complutense de
                    Madrid y sirve para asociarse a la asociación. No exigimos
                    ningún tipo compromiso si lo rellenas, puedes venir a una
                    actividad y no volver nunca más si no te gusta. Además no es
                    necesario que lo rellenes si quieres participar en nuestras
                    actividades.
                </p>

                <p>
                    El formulario nos sirve para justificar ante la Facultad que
                    tenemos suficientes socios y somos activos.
                </p>
            </Acordion>
        </div>
    </ContentBody>

    <style>
        @reference "../styles/global.css";

        a,
        strong {
            @apply font-bold text-primary ease-in-out duration-300 transition-all hover-always:text-shadow-[0px_0px_5px_var(--color-primary)];
        }
    </style>
</Layout>
