---
import HomeTitle from "../components/HomeTitle.astro";
import Layout from "../layouts/Layout.astro";

import BentoText from "../components/BentoText.astro";
import BentoGrid from "../components/BentoGrid.astro";
import BentoImage from "../components/BentoImage.astro";

import { ucmLink } from "../data/links";

import DaniSwercImage from "../assets/swerc-dani.webp";
import NoahCodeforcesImage from "../assets/codeforces.webp";
import URJCImage from "../assets/urjc.webp";
import CodeImage from "../assets/kmp-code.webp";
import NavidadImage from "../assets/concurso_navidad.webp";
import AdaByronImage from "../assets/adabyron.webp";
---

<Layout>
    <a class="absolute top-0" id="home"></a>
    <HomeTitle />
    <div class="w-full flex flex-col items-center justify-center my-20">
        <h1 class="bento-title">¿Quiénes somos?</h1>
        <a class="relative top-[-175px]" style="visibility: hidden;" id="about"
        ></a>
        <BentoGrid
            grid = {{
                lg: [2, 9],
                md: [2, 6],
                sm: [1, 6],
                default: [1, 11],
            }}
            class="lg:max-w-5xl md:max-w-3xl m-5"
        >
            <BentoText
                layout={{
                    lg: [1, 1, 1, 2],
                    md: [1, 1, 1, 2],
                    sm: [1, 3, 1, 1],
                    default: [1, 4, 1, 2],
                }}
            >
                <p>
                    Somos un grupo de estudiantes de la <strong
                        ><a href={ucmLink}>Universidad Complutense de Madrid</a
                        ></strong
                    > apasionados por la programación competitiva.
                </p>
            </BentoText>
            <BentoImage
                src={DaniSwercImage}
                alt="UCppM team at SWERC competition"
                layout={{
                    lg: [2, 1, 1, 6],
                    md: [2, 1, 1, 3],
                    sm: [1, 1, 1, 2],
                    default: [1, 1, 1, 3],
                }}
            />
            <BentoImage
                src={NoahCodeforcesImage}
                alt="Person in a Codeforces virtual contest"
                layout={{
                    lg: [1, 3, 1, 7],
                    md: [1, 3, 1, 4],
                    sm: [1, 4, 1, 2],
                    default: [1, 6, 1, 3],
                }}
            />
            <BentoText
                layout={{
                    lg: [2, 7, 1, 3],
                    md: [2, 4, 1, 3],
                    sm: [1, 6, 1, 1],
                    default: [1, 9, 1, 3],
                }}
            >
                <p>
                    Nos reunimos para <strong>resolver problemas</strong>,
                    compartir conocimientos a través de <strong>charlas</strong
                    >, mejorar nuestras habilidades y participar en <strong
                        >competiciones internacionales</strong
                    >. Además de <strong>organizar concursos</strong> dentro de la
                    Universidad.
                </p>
            </BentoText>
        </BentoGrid>

        <h1 class="bento-title">¿Qué problemas resolvemos?</h1>
        <BentoGrid
            grid = {{
                lg: [2, 4],
                md: [2, 7],
                sm: [1, 7],
                default: [1, 9]
            }}

            class="lg:max-w-5xl md:max-w-3xl m-5"
        >
            <BentoText
                layout={{
                    lg: [2, 1, 1, 1],
                    md: [2, 1, 1, 3],
                    sm: [1, 3, 1, 1],
                    default: [1, 3, 1, 2],

                }}
            >
                <p>
                    Resolvemos <strong>problemas lógico-matemáticos</strong>
                    diseñando y <strong
                        >programando algoritmos precisos y eficientes</strong
                    >. Estos algoritmos son secuencias de pasos que garantizan
                    una solución del problema.
                </p>
            </BentoText>
            <BentoImage
                src={URJCImage}
                alt="Participants competing in a URJC tournament"
                layout={{
                    lg: [1, 1, 1, 3],
                    md: [1, 1, 1, 4],
                    sm: [1, 1, 1, 2],
                    default: [1, 1, 1, 2],
                }}
            />
            <BentoImage
                src={CodeImage}
                alt="Code in C++ implementing counting word algrithm with KMP"
                layout={{
                    lg: [2, 2, 1, 3],
                    md: [2, 4, 1, 4],
                    sm: [1, 4, 1, 3],
                    default: [1, 5, 1, 3],
                }}
            />
            <BentoText
                layout={{
                    lg: [1, 4, 1, 1],
                    md: [1, 5, 1, 3],
                    sm: [1, 7, 1, 1],
                    default: [1, 8, 1, 2],
                }}
            >
                <p>
                    Entre los problemas que resolvemos podemos encontrar tareas
                    como contar cuántas veces aparece una palabra específica
                    dentro de un texto largo, o guiar a un robot a través de un
                    laberinto hasta que logre encontrar la salida.
                </p>
            </BentoText>
        </BentoGrid>

        <h1 class="bento-title">¿Por qué deberías unirte?</h1>
        <BentoGrid
            grid = {{
                lg: [5, 4],
                md: [5, 3],
                sm: [1, 14],
                default: [1, 7]
            }}
            class="lg:max-w-5xl md:max-w-3xl m-5"
        >
            <BentoText
                layout={{
                    lg: [4, 1, 2, 1],
                    md: [4, 1, 2, 1],
                    sm: [1, 1, 1, 2],
                    default: [1, 1, 1, 1],
                }}
            >
                <p>
                    El principal motivo es porque es <strong>divertido</strong>.
                    Además
                    <strong>conocerás a mucha gente</strong> interesante e incluso
                    harás <strong> nuevos amigos</strong>.
                </p>
            </BentoText>
            <BentoImage
                src={AdaByronImage}
                alt="Participants and volunters in Ada Byron National contest"
                layout={{
                    lg: [1, 1, 3, 3],
                    md: [1, 1, 3, 2],
                    sm: [1, 3, 1, 4],
                    default: [1, 2, 1, 2],
                }}
            />
            <BentoImage
                src={NavidadImage}
                alt="Xmas tournament celebrated at the faculty"
                layout={{
                    lg: [4, 2, 2, 2],
                    md: [4, 2, 2, 1],
                    sm: [1, 10, 1, 5],
                    default: [1, 6, 1, 2],
                }}
            />
            <BentoText
                layout={{
                    lg: [1, 4, 5, 1],
                    md: [1, 3, 5, 1],
                    sm: [1, 7, 1, 3],
                    default: [1, 4, 1, 2],
                }}
            >
                <p>
                    Por otro lado, resolver esta clase de problemas es muy útil
                    tanto para algunas <strong>asignaturas de la carrera</strong
                    > como para las
                    <strong>entrevistas de trabajo</strong> en diversas empresas.
                    Así que, no solo te lo pasarás bien, sino que adquirirás habilidades
                    que te serán valiosas en el futuro.
                </p>
            </BentoText>
            <!-- <BentoText position={[1, 6]} span={[2, 1]}>
                <p class="text-center">
                    Si te ha llamado la atención <strong
                        ><a href="{{ .Site.Params.url.discord }}">
                            únete a nuestro Discord</a
                        ></strong
                    >, además si eres estudiante de la <strong
                        ><a href="{{ .Site.Params.url.fdi }}"
                            >Facultad de informática</a
                        ></strong
                    > únete a la asociación, sin ningún compromiso, rellenando este
                    <strong
                        ><a href="{{ .Site.Params.url.formulario }}"
                            >formulario</a
                        ></strong
                    >.
                </p>
            </BentoText> -->
        </BentoGrid>
        <!--

            <div class="home-text">
                <h1>¿Por qué deberías unirte?</h1>
                <p>
                    El principal motivo es porque es divertido ;) . Además
                    conocerás a mucha gente interesante e incluso harás nuevos
                    amigos.
                </p>
                <p>
                    Por otro lado, resolver esta clase de problemas es muy útil
                    tanto para algunas asignaturas de la carrera como para las
                    entrevistas de trabajo en diversas empresas. Así que, no
                    solo te lo pasarás bien, sino que adquirirás habilidades que
                    te serán valiosas en el futuro.
                </p>
                <p>
                    Si te ha llamado la atención <b
                        ><a href="{{ .Site.Params.url.discord }}">
                            únete a nuestro Discord</a
                        ></b
                    >, además si eres estudiante de la <em
                        ><a href="{{ .Site.Params.url.fdi }}"
                            >Facultad de informática</a
                        ></em
                    > únete a la asociación, sin ningún compromiso, rellenando este
                    <b
                        ><a href="{{ .Site.Params.url.formulario }}"
                            >formulario</a
                        ></b
                    >.
                </p>
            </div>
            <div class="home-text">
                <p>
                    <a href="{{ .Site.Params.url.discord }}">
                        >¿Tienes dudas? Consulta nuestra sección de preguntas
                        frecuentes.</a
                    >
                </p>
            </div> -->
    </div>
</Layout>

<style>
    @reference "../styles/global.css";

    strong {
        @apply text-primary ease-in-out duration-300 transition-all hover-always:text-shadow-[0px_0px_5px_var(--color-primary)];
    }

    .bento-title {
        @apply font-bold text-5xl sm:text-6xl py-5 text-center ease-in-out duration-300 transition-all hover:scale-105 hover:text-shadow-[0px_0px_20px_var(--color-primary)] active:scale-105 hover-always:text-shadow-[0px_0px_20px_var(--color-primary)] hover-always:text-primary;
    }
</style>
